.pie {
    margin: 10px auto;
}

.logo{
    text-align: center;
    padding: 0;
}

.iniciosesion{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0.5cm;
    padding-bottom: 0.1cm;
}

#titulo{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size:  xx-large;
    font-weight: 200;
    margin-top: 0;
}
#body{
    margin: 1cm;
    padding: 1cm;
    border-style: solid;
    border-width: 0.5cm;
    border-radius: 50px;
}
#encabezado{
    font-family: 'Oswald', sans-serif;
    font-size: 100px ;
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 0.1CM;

}

.cursos{
    display: grid;
    grid-template: 1fr/1fr;
    grid-template-areas: "img1";
    width: 300px;
    height: 300px;
    margin: 60px auto;
}

.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img1;
}

.cursos::after{
    content: "Cursos";
    grid-area: img1;
    width: 100%;
    height: 100%;
    background-color: violet;
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;

}

.figure:hover::after{
    clip-path: circle(150% at top right);
}